body {
    margin: 0;
    background: #070727da;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

/** Header Styles */

.header {
    background: #1f2937;
    height: 100%;
}   

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 24px;
 }

.logo {
    color: #f9faf8;
    font-size: 24px;
} 

.links {
    color: #e5e7eb;
    font-size: 18px;
}

.company-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;
    padding: 24px;
    margin-top: 120px;
}

.company-details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-left: 300px;
    width: 400px;
    padding: 8px;
    flex-wrap: wrap;
}

.company-title {
    text-align: left;
    font-size: 48px;
    color: #f9faf8;
}

.company-description {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 4px;
}

.company-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-right: 250px;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding-bottom: 120px;
}

.portfolio-title {
    padding: 16px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 20px;
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    margin: 0; 
}

.portfolio-items {
    margin: 0; 
    padding: 16px;
    /**padding: 12px; */
}

.portfolio-description {
    max-width: 200px;
}
 
.portfolio-image {
    border-style: solid;
    border-color: blue;
    border-width: medium;
    border-radius: 25px;
}

.testimonial {
    text-align: center; 
    padding: 56px;
    background: #e5e7eb;
    color: #1f2937;
}

b {
    float: right;
    margin: 0;
    padding-right: 80px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 56px;
    margin: 0px;
    background: white;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    margin-left: 250px;
    padding: 20px;
    border-radius: 8px;
    background: #3882f6;
}

.contact-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;   
    background: #3882f6;  
    
}

.contact-title {
    font-size: 18px;
}

 
.sign-up-button {
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 4px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
}